@model Community_Medicine_Automation_demo_Apps.Models.disease_tb
@{
    ViewBag.Title = "Disease_Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="center-block">
    <div class="row">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6 text-center postTopic1">
            <br/>
            <h2>Disease_Setup</h2>
            
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr/>
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    <div class="form-group">
                        @Html.LabelFor(model => model.diseaseName, "Disease Name", htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.diseaseName, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.diseaseName, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.description, "Description", htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.description, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.description, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.treatment, "Treatment", htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.treatment, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.treatment, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.prfered_drugs, "Prfered drugs", htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.prfered_drugs, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.prfered_drugs, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        <div class=" col-md-10">
                            <input type="submit" value="Create" class="btn btn-default"/>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-3 col-md-3"></div>
    </div>

</div>
